@forward '@nebular/theme/styles/theming';
@use '@nebular/theme/styles/theming' as *;
@use '@nebular/theme/styles/themes/dark';

$nb-themes: nb-register-theme((
  url-bg: url('/assets/background.png'),
  color-primary-100: #FFEDED,
  color-primary-200: #FFD6D6,
  color-primary-300: #FFBFBF,
  color-primary-400: #FF9999,
  color-primary-500: #E74C3C,
  color-primary-600: #C03B33,
  color-primary-700: #992A29,
  color-primary-800: #731A1F,
  color-primary-900: #530D15,
  color-basic-100: white,
  color-basic-200: #E9EBEF,
  color-basic-300: #D3D7E1,
  color-basic-400: #BCC3D4,
  color-basic-500: #A4B0C7,
  color-basic-600: #8C9DBA,
  color-basic-700: #748AAD,
  color-basic-800: #5C77A0,
  color-basic-900: #446593,
  color-basic-1000: #2E3D4C,
  color-basic-1100: #192631,
  border-basic-color-1: color-basic-700,
  border-basic-color-2: color-basic-800,
  border-basic-color-3: color-basic-900,
  border-basic-color-4: color-basic-1000,
  border-basic-color-5: color-basic-1100,
  shadow: 0 0.5rem 1rem 0 rgba(25, 30, 51, 0.24),
  text-disabled-color: color-basic-600,
), dark, dark);
