<nb-chat title="YouTube Video Search Bot">
  <div *nbCustomMessage="'video'">
    <p class="text-control button-custom-message-text">{{chatBotService.output?.video_title}}</p>
    <iframe *ngIf="safeUrl != ''" [src]="safeUrl" allow="fullscreen"></iframe>
  </div>

  <nb-chat-message *ngFor="let msg of messages"
                   [type]="msg.type"
                   [message]="msg.text"
                   [reply]="msg.reply"
                   [sender]="msg.user.name"
                   [date]="msg.date"
                   [files]="msg.files"
                   [quote]="msg.quote"
                   [latitude]="msg.latitude"
                   [longitude]="msg.longitude"
                   [avatar]="msg.user.avatar"
                   [customMessageData]="msg.customMessageData">
  </nb-chat-message>

  <nb-chat-form (send)="sendMessage($event)" [dropFiles]="true">
  </nb-chat-form>
</nb-chat>
